<div class="card mt-5 mb-5">
  <div class="card-body">
    <h2 class="text-center"> Your Won Bids </h2>
  </div>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
    <th>Product Name</th>
    <th>Starting Price</th>
    <th>Your Bid</th>
    <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% @bid.each do |bid| %>
      <tr>
        <td><%= bid.product.name %></td>
        <td><%= bid.product.starting_bid %></td>
        <td><%= bid.current_bid%>
        <td><%= bid.product.quantity %></td>
      </tr>
    <%end%>
  </tbody>
</table>
